#longtext {
    text-align: justify;
    width: 400px;
}

#square {
    background: blue;
    height: 100px;
    margin: 0 12px 12px 0;
    width: 100px;
}

#container {
    left: 50%;
    position: absolute;
    top: 20px;
}

.box {
    background: red;
    height: 50px;
    margin: 0 12px 12px 0;
    width: 100px;
}
